.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-label {
  margin-bottom: 5px;
  font-weight: normal;
  color: var(--grey-900);

  span {
    color: var(--green-600);
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
  }
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border: 1.5px solid var(--green-600);
  outline: none;
}
