.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: white;
  padding: 30px;
  width: 800px;
  border-radius: 15px;
}

.form-container h1 {
  color: var(--grey-900);
  margin: 10px auto;
  font-weight: var(--font-weight-bold);
}

.two-input-line {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
